@import "../../../assets/theme/constants.scss";

.viewSummery {
    margin: 45px;

    .viewSummeryCard {
        background-color: $bgColorSidebar;

        .viewSummeryCardDataRow {
            display: flex;
            align-items: center;

            .data {
                font-weight: 400;
                font-size: 18px;
                color: $white;
            }

            .pending {
                color: $warning;
                font-size: 12px;
            }
            .approve {
                color: $success;
                font-size: 12px;
            }
            .reject {
                color: $danger;
                font-size: 12px;
            }

            .action {
                background-color: #121212;
                padding: 5px 10px;
                display: flex;
                align-items: center;

                .text {
                    font-size: 10px;
                    text-transform: none;
                    color: #bfbfbf;
                }

                .icon {
                    font-size: 15px;
                }
            }
        }
    }
}